.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    
}
.cart-container{
    background-color: #ff990031;
    text-align: center;
    display: flex;
    justify-content: center;
    
    /* position: fixed;
    right: 0;
    height: 100%;
      */
}
